h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-left: 43%;
    font-size: 60px;
    color: #FFFFFF;
}


.inputButton {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-left: 9%;
    width: 200px;
    height: 40px;
    color: rgb(0, 0, 0);
    border-radius: 10%;
    background-color: #ffffff;
    border-width: 0px;
}

.inputText {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 9%;
    font-size: 16px;
    width: 200px;
    height: 35px;
    border-radius: 10%;
    background-color: #eeeeee;
    border-color: #afafaf;
    border-width: 1px;
}

.rectangle {
    width: 300px;
    height: 250px;
    background-color: #f92222;
    border: 0px solid;
    margin: auto;
    border-color: #00000000;
}

.smalltext {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.smalltext2 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

