h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-left: 43%;
    font-size: 60px;
    color: #FFFFFF;
}


.inputButton {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-left: 9%;
    width: 500px;
    height: 40px;
    color: rgb(221, 221, 221);
    background-color: #447245;
    border-width: 0px;
}

.inputText {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 9%;
    font-size: 16px;
    width: 500px;
    height: 35px;
    background-color: #eeeeee;
    border-color: #afafaf;
    border-width: 1px;
}

.rectangle {
    width: 600px;
    height: 300px;
    background-color: #c7e7c6;
    border: 0px solid;
    margin: auto;
    border-radius: 10px;
    border-color: #ffffff00;
}

.smalltext {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(42, 126, 46);
    font-weight: bold;
}

.smalltext2 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(221, 221, 221);
    font-weight: bold;
}

body {
    background-image: url(fon.jpg);
}
