.pic{
    width: 100px;
    height: 100px;
}

#largeImg {
    width: 550px;
    height: 400px;
}

#thumbs a {

    width: 100px;
    height: 100px;
    padding: 3px;
    margin: 2px;
    float: left;
}

#thumbs li {
    list-style: none;
}

#thumbs {
    margin: 0;
    padding: 0;
}


.selected {
    background: violet;
}

li {
    cursor: pointer;
    font-family: 'Comic Sans MS';
    font-size: 20px;

}
td {
  font-family: 'Comic Sans MS';
    font-size: 20px;
    margin-left: 35%;
}
th {
    font-family: 'Comic Sans MS';
    font-size: 20px;
    margin-left: 35%;
}
p {
    font-family: 'Comic Sans MS';
    font-size: 20px;
    margin-left: 35%;
}

td input {
    width: 150px;
}

#diagram td {
    vertical-align: bottom;
    text-align: center;
    padding: 10px;
}
table {
    margin-left: 35%;
}

#diagram div {
    margin: auto;
}
