.pic{
    width: 100px;
    height: 100px;
}

#largeImg {
    width: 550px;
    height: 400px;
}

#thumbs a {

    width: 100px;
    height: 100px;
    padding: 3px;
    margin: 2px;
    float: left;
}


#thumbs li {
    list-style: none;
}

#thumbs {
    margin: 0;
    padding: 0;
}
